@media (max-width: 444px) {
  * {
    margin-right: -1px;
    margin-left: -2px;
  }

  .header-container {
    width: 100%;

    .logo img{
      height:65px;
    }
  }

  .nav-bar-container {
    width: 100%;
    height: 75px;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-content: space-around;
    font-size: 13px;
  }

  .homepage-container {
    width: 100%;
    margin-left: 18px;

    .instagram{
      min-width: 300px;
    }
  }

  .prices {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr;

    .left-column img {
      width: 90%;
    }
  }

  .month-name-header {
    width:100%;
  }

  .day-of-week {
    width : 100%;
    font-size: 11px;
  }
}