.scheduling-container {
    .month-name-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        font-family: 'Merienda', cursive;
        
        button {
            width: 75px;
            background-color:$seashell;
            border-color: #FF9D85;
            border-radius: 7px;
            box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.3);
            font-family: 'Merienda', cursive;
           
            &:focus {
                outline: none;
            }

    
            &:active {
                border-style: outset;
                transform: translate(1px, 1px);
                box-shadow: 2px 2px 13px 0px rgba(0,0,0,0.3);
            }

        }
    
    }

}
