body {
    margin:0px;
}

a {
    color: black;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.scheduling-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a9dcf5;
}